<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>{{title}}</title>
    <style>
        #tableStyle,
        #tableStyle td,
        #tableStyle th {
            border: 1px solid;
            border-collapse: collapse;
            color: #505050;
        }

        #tableStyle th,
        #tableStyle td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body style="margin:0;font-family:arial">
    <table style="border:0;width:100%">
        <tr style="background:rgba(150,150,150,0.2)">
            <td style="padding:20px;color:#004a80;text-align:left;font-size:30px;font-weight:600;">
                 {{headerTitle}} - SMTR - PREFEITURA DO MUNICIPIO DO RIO DE JANEIRO
            </td>
        </tr>
        <tr>
            <td style="padding:20px;color:#505050;font-size:16px;font-weight:100">
                <table id="tableStyle">
                    <thead style="text-align: left;">
                        <tr>
                            <th>COMUNICADO IMPORTANTE!</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>
                                <p> O Sistema Mobilidade Rio detectou que você ainda não cadastrou seus dados bancários.</p>
                                <p> Por favor, solicitamos que atualize o cadastro imediatamente pelo link abaixo!</p>
                                <p> https://cct.mobilidade.rio/sign-in </p> 
                                <p> Obrigado!</p>
                            </b></td>                
                        </tr>                        
                    </tbody>
                </table>
                
            </td>
        </tr>
    </table>
</body>

</html>