<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>{{title}}</title>
    <style>
        #tableStyle,
        #tableStyle td,
        #tableStyle th {
            border: 1px solid;
            border-collapse: collapse;
            color: #505050;
        }

        #tableStyle th,
        #tableStyle td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body style="margin:0;font-family:arial">
    <table style="border:0;width:100%">
        <tr style="background:rgba(150,150,150,0.2)">
            <td style="padding:12px;color:#004a80;text-align:left;font-size:16px;font-weight:600;">
                SMTR - Prefeitura do Município do Rio de Janeiro - CCT Mobilidade RIO
            </td>
        </tr>
        <tr>
            <td style="padding:20px;color:#505050;font-size:16px;font-weight:100">
                <table id="tableStyle">
                    <thead style="text-align: left;background-color: red;" >
                        <tr>
                            <th><b><span style="color:white">IMPORTANTE!</span></b></th>                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>
                                <p>
                                    O Sistema CCT Mobilidade RIO detectou que seus <span style="color:red">Dados Bancários</span> ainda não foram cadastrados.
                                    Por favor, solicitamos que atualize o cadastro pelo link abaixo!
                                </p>
                                <p><a href="{{userLink}}"> {{userLink}}</a></p> 
                                <p>Solicitamos que anote e guarde sua senha com segurança, para evitar futuros problemas de acesso.</p>
                                <p>
                                    Caso aconteça, entre em contato com o suporte <a href="https://secretariamunicipaldetransportes.movidesk.com/form/6594/">https://secretariamunicipaldetransportes.movidesk.com/form/6594/</a>.

                                </p>
                                <p>Obrigado!</p>
                            </b></td>                
                        </tr>                        
                    </tbody>
                </table>
                <p style="font-size: 12px;">
                    Essa é uma mensagem automática do sistema, sem monitoramento. <br>
                    Por favor, não responder!
                </p>
                
            </td>
        </tr>
    </table>
</body>

</html>